.highSpeed__container {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.highSpeed__price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.5rem 0;
}

.highSpeed__price_currency {
  font-size: 1.5rem;
  margin: 1.5rem;
  color: rgba(128, 128, 128, 0.303)
}

.selected {
  background-color: #0388C1;
  color: white;
}

.btn-selected {
  background-color: white;
  color: black;
}

.selected .highSpeed__price_currency {
  color: rgba(255, 255, 255, 0.801) !important;
}

.selected div {
  color: rgba(255, 255, 255, 0.801) !important;
}