/*	Reset & General
---------------------------------------------------------------------- */
* { margin: 0px; padding: 0px; }
body {
	background: #ecf1f5;
	text-align:center;
}

.tile{
	width: 100%;
	background:#fff;
	border-radius:5px;
	box-shadow:0px 2px 3px -1px rgba(151, 171, 187, 0.7);
	float:left;
  	transform-style: preserve-3d;
  	margin: 10px 5px;

}

.header{
	border-bottom:1px solid #ebeff2;
	padding:19px 0;
	text-align:center;
	color:#59687f;
	font-size:600;
	font-size:19px;	
    position:relative;
}

.banner-img {
	padding: 5px 5px 0;
}

.banner-img img {
	height: 275px;
    width: 330px !important;
    object-fit: scale-down;
    padding: 1rem;
	border-radius: 5px;
}

.dates{
	margin:0;
	font-size:16px;
	color:#5aadef;
	font-weight:600;	
}


.dates div{
	float:left;
	width:50%;
	text-align:center;
    position:relative;
    border:1px solid #ebeff2;
    padding: 20px;
}
.dates strong,
.stats strong{
	display:block;
	color:#adb8c2;
	font-size:11px;
	font-weight:700;
}
.dates span{
	width:1px;
	height:40px;
	position:absolute;
	right:0;
	top:0;	
	background:#ebeff2;
}
.stats{
    border-top:1px solid #ebeff2;
    padding: 20px;
    text-align: center;
	overflow:auto;
	font-size:14px;
	color:#59687f;
    font-weight:600;
	border-radius: 0 0 5px 5px;
}
.stats div{
	border-right:1px solid #ebeff2;
	width: 33.33333%;
	float:left;
	text-align:center
}

.stats div:nth-of-type(3){border:none;}

div.footer {
	text-align: right;
	position: relative;
	margin: 20px 5px;
}

div.footer a.Cbtn{
	padding: 10px 25px;
	background-color: #DADADA;
	color: #666;
	margin: 10px 2px;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	border-radius: 3px;
}

div.footer a.Cbtn-primary{
	background-color: #5AADF2;
	color: #FFF;
}

div.footer a.Cbtn-primary:hover{
	background-color: #7dbef5;
}

div.footer a.Cbtn-danger{
	background-color: #fc5a5a;
	color: #FFF;
}

div.footer a.Cbtn-danger:hover{
	background-color: #fd7676;
}

.tile.selected{
    background: #E5E7E9;
}

.tab.active{
    background: #284686;
    color: white !important;
    font-size: 11px;
    font-weight: 700;    
}

.tab {
    display: block;
    color: #adb8c2;
    font-size: 11px;
    font-weight: 700;
}